@font-face {
    font-family: 'OneMobile';
    src: url('./src/assets/fonts/ONE\ Mobile\ Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OneMobile';
    src: url('./src/assets/fonts/ONE\ Mobile\ Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'OneMobile';
    src: url('./src/assets/fonts/ONE\ Mobile\ Light.ttf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'OneMobilePop';
    src: url('./src/assets/fonts/ONE\ Mobile\ POP.ttf') format('truetype');
}

@font-face {
    font-family: 'neodgm_code';
    src: url('./src/assets/fonts/neodgm_code.ttf') format('truetype');
}

@media (min-width: 360px) and (min-height: 640px) {
    body {
        font-family: 'OneMobile';
        overflow: auto;
        margin: 0;
        max-width: 360px;
        max-height: 640px;
    }
}
